# API
S3_REGION=
S3_BUCKET=
S3_ENDPOINT=
S3_KEY=
S3_SECRET=
DATABASE_URL="sveltekit_fyi.db?_pragma=busy_timeout(5000)&_pragma=journal_mode(WAL)&_pragma=foreign_keys(ON)"
RUN_MIGRATIONS="false"
LOG_LEVEL="INFO"
APP_ENV="development"
ADMIN_KEY=
# Frontend
API_HOST="localhost:8000"
# Your bucket host
PUBLIC_STATIC_HOST=
NODE_ENV="development"
